.contenedor {
  width: 100%;
}
.fondo {
  background-color: #212529;
  padding: 150px;
}
.titulo {
  display: flex;
  justify-content: left;
  font-size: 60px;
  color: rgb(255, 255, 255);
  font-family: "Press Start 2P", cursive;
  text-transform: uppercase;
  margin-top: 45px;
}
.parrafo {
  display: flex;
  text-align: left;
  font-size: 30px;
  color: #ffff;
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
}
.fotter_diagonal {
  height: 80px;
  width: 100%;
  background: #212529;
  position: relative;
}
.fotter_diagonal::after {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform-origin: top left;
  transform: skewY(2deg);
  background: #212529;
  box-shadow: 10px 5px 5px black;
}
.card {
  border-radius: 2%;
  gap: 1rem;
  margin: 20px;
}
.card_imagen {
  object-fit: cover;
  width: 100px;
  height: 100px;
  padding: 10px;
}

.p {
  font-size: 50px;
  font-family: "Bebas Neue", cursive;
}

@media (max-width: 600px) {
  .titulo {
    font-size: 20px;
  }
  .parrafo {
    font-size: 10px;
  }
  .p {
    font-size: 30px;
  }

  .card_imagen {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .fondo {
    background-color: #212529;
    padding: 0px;
  }
  .subTitulo {
    font-size: 20px;
  }
}

@media (max-width: 200px) {
  .titulo {
    font-size: 20px;
  }
  .parrafo {
    font-size: 30px;
  }
  .p {
    font-size: 20px;
  }
  .card_imagen {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .fondo {
    background-color: #212529;
    padding: 0px;
  }
  .subTitulo {
    font-size: 10px;
  }
}
